each status, index in statuses
  if index % 3 == 0
    div.row
      include ./status.jade
      -status = statuses[index+1]
      if status
        include ./status.jade
      -status = statuses[index+2]
      if status
        include ./status.jade
