doctype html
html(lang="en")
  style.
    body {
      margin: 0;
    }
    svg {
      display: block;
    }
    circle {
      fill:none;
      stroke: #222;
    }
  body
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.js')
    script(type='text/javascript', src='base.js')
    script(type='text/javascript').
      function tweet(t) {
        !{es5}
      }
