doctype html
html(lang='en')
  head
    title t.d3fc.io
    link(rel='stylesheet', href='bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='site.css')
    link(rel='icon', type='image/png' href='https://d3fc.io/images/favicon-16x16.png' sizes='16x16')
    link(rel='icon', type='image/png' href='https://d3fc.io/images/favicon-32x32.png' sizes='32x32')
    link(rel='icon', type='image/png' href='https://d3fc.io/images/favicon-96x96.png' sizes='96x96')
  body#playground.container
    div.header.clearfix
      nav
        ul.nav.navbar-nav
          li
            a.brand.text-muted(href='/') t.d3fc.io
          li
            a(href='/new') New
          li
            a.active(href='/playground') Playground
    h1.text-center Playground
    div.content
      textarea#code(rows='3', placeholder='Type code here', spellcheck='false').form-control.input-lg.
        T().a({transform:d=>sc(4+s(d/1e3)),x:d=>mo[0]*10,y:d=>mo[1]*10}).t('Hello World')
      button#run-code.btn.btn-block.btn-lg.btn-success Run code
      div#alert.alert.alert-danger(style='display:none')
      div.iframe-wrapper
        iframe(
          id='iframe',
          sandbox='allow-scripts allow-same-origin',
          src='loading'
        )

    script(type='text/javascript', src='babel-standalone.min.js')
    script(type='text/javascript', src='playground.js')
