extends ./_layouts/default.jade

block content
  div.jumbotron
    h1 A collection of tweet-sized* d3 creations
      p
        small &nbsp;*116 characters + helpers
    p.lead.
      To add yours, just tweet the code followed by #[code='https://t.d3fc.io'].
      To help get the size down, both
      #[a(href='https://github.com/chrisprice/t-d3fc/blob/master/server/public/src/base.js') JavaScript]
      and
      #[a(href='https://github.com/chrisprice/t-d3fc/blob/master/server/public/src/base.css') CSS]
      helpers are provided and all code is transpiled by Babel (es2015/stage-2).
      Any suggestions welcome on
      #[a(href='https://github.com/chrisprice/t-d3fc/issues') GitHub].
  div.alert.alert-warning
    p.
      Due to the hidden complexities of
      #[a(href='http://blog.codepen.io/2014/02/17/can-iframes-annoying-free/') iframe sandboxing]
      it's possible for ne'er-do-well-ers to create dialogs. I can't blame them, but I will be banning
      them as I spot them.
    p
      a(href='https://twitter.com/100pxls') Chris
  div.marketing
    include ./_includes/statuses.jade
