extends ./_layouts/default.jade

block content
  div.alert.alert-info
    p.
      Duplicate tweets will no longer show up in this list, only the original will be shown.
  div.marketing
    include ./_includes/statuses.jade
