extends ./_layouts/default.jade

block content
  div#playground
    h1.text-center Playground
    div.content
      textarea#code(rows='3', placeholder='Type code here', spellcheck='false').form-control.input-lg
      button#run-code.btn.btn-block.btn-lg.btn-success Run code
      pre#alert.alert.alert-danger(style='display:none')
      div.iframe-wrapper
        iframe(
          id='iframe',
          sandbox='allow-scripts',
          src='/loading'
        )

    script(type='text/javascript', src='/babel-standalone.min.js')
