/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.marketing {
  text-align: center;
}

/* Custom page footer */
.footer {
  text-align: center;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

iframe {
  margin-top: 30px;
  border: 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* PLAYGROUND PAGE */

#playground {
  padding-top: 20px;
  padding-bottom: 40px;
}

#playground .content {
  margin: 0 auto;
  padding-bottom: 100px;
}

#playground h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-top: 50px;
}

#playground textarea {
  margin-top: 50px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: 100%;
}

#playground #run-code {
  margin-bottom: 30px;
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#iframe-wrapper {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

#iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
}

#iframe svg {
  width: 100%;
}
