doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='twitter:card', content='summary')
    meta(name='twitter:site', content='@100pxls')
    meta(name='twitter:title', content='t.d3fc.io')
    meta(name='twitter:description', content='A collection of tweet-sized d3 creations')
    title t.d3fc.io
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href=assetFingerprint('/site.css'))
    link(rel='icon', type='image/png', href='https://d3fc.io/images/favicon-16x16.png', sizes='16x16')
    link(rel='icon', type='image/png', href='https://d3fc.io/images/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='https://d3fc.io/images/favicon-96x96.png', sizes='96x96')
  body.container

      block content
