doctype html
html(lang='en')
  head
    title d3fc-tweet
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/jumbotron-narrow.css')
  body#playground.container
    div.header.clearfix
      nav
        h3.text-muted t.d3fc.io
    h1.text-center Playground
    div.content
      textarea#code(rows='3', placeholder='Type code here').form-control.input-lg
      button#run-code.btn.btn-block.btn-lg.btn-success Run code
      div#iframe-wrapper
        iframe(
          id='iframe',
          sandbox='allow-scripts allow-same-origin',
          srcdoc='<html lang="en"><head><link rel="stylesheet" href="/base.css"></head><body><script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.13/d3.js"></script><script type="text/javascript" src="/base.js"></script></body></html>'
        )
        
    script(type='text/javascript', src='/babel-standalone.min.js')
    script(type='text/javascript', src='playground.js')
    
